{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block other_content %}

    <section class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto"> <!-- może lg 9 -->

                    {% block content %}
                    {% endblock content %}
                
                </div>
            </div>
        </div>
    </section>

{% endblock other_content %}
