{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Trainings week list {% endblock title %}

{% block user_navbar %}
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Components</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
                <a href="navbar.html">Navbar</a>
            </li>
            <li>
                <a href="cards.html">Cards</a>
            </li>
        </ul>
    </li>
{% endblock user_navbar %}


{% block user_content %}
    <div class="row">

        {% for day in seven_days %}
            <div class="col">
                <div class="card">

                    <div class="card-header text-center">
                        {{ day | date:'l' }}<br/>
                        {{ day | date:'d.m.Y' }}
                    </div>

                    <ul class="list-group list-group-flush">

                        {% for hour in hour_range %}
                            <li class="list-group-item" style="height: 50px">

                                {% for training in trainings %}
                                    {% if training.date|date:'d.m.Y' ==  day|date:'d.m.Y' and training.date.hour ==  hour %}
                                        <a href="#{{ training.id }}" data-toggle="modal">
                                            {{ training.date|date:'G:i' }} - {{ training.place }}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </li>
                        {% endfor %}

                    </ul>

                </div>

            </div>

        {% endfor %}

    </div>

    {% for training in trainings %}
        {% include "trainings/coach/training_coach_detail_modal.html" with event=training %}
    {% endfor %}

{#            <a href="#" class="btn btn-primary">Go somewhere</a>#}


{% endblock %}