{% extends "base.html" %}
{% load static jchart %}

{% block user_content %}

    <div class="container">

        {% if player.swot %}
            {% include "swot/swot_view.html" %}
        {% else %}
            <a href="{% url 'user:swot:swot-new' %}" class="btn btn-dark text-white mt-5 mb-5"> Stworz analize indywidualna</a>
        {% endif %}

        {% include "faf/somatics_details.html" %}

        {% include "faf/motorics_detail.html" %}

    </div>

{% endblock user_content %}


{#<a class="card-footer text-white clearfix small z-1" href="{% url 'user:player-update' player.id %}">#}
