<div class="col-md-8">
    <div class="row justify-content-center">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="btn btn-coach text-uppercase" id="pills-home-tab" data-toggle="pill" href=".tab-pane" role="tab" aria-controls="pills-home" aria-selected="true">Seniorki</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-coach text-uppercase" id="pills-profile-tab" data-toggle="pill" href=".tab-pane" role="tab" aria-controls="pills-profile" aria-selected="false">Juniorki</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-coach text-uppercase" id="pills-contact-tab" data-toggle="pill" href=".tab-pane" role="tab" aria-controls="pills-contact" aria-selected="false">Młodziczki</a>
            </li>
        </ul>
    </div>
    <div class="row justify-content-center">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <a class="btn btn-coach text-uppercase">Zawodniczki</a>
                <a class="btn btn-coach text-uppercase">Składki</a>
                <a class="btn btn-coach text-uppercase">Plan</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2 text-center">
    <h4>Quick access </h4>
    <a class="btn btn-qa" href="#" >Sprawdź obecność</a>
    <a class="btn btn-qa" href="#" >Zaplanuj trening</a>
</div>