{% extends "base.html" %}
{% load staticfiles %}

{% block user_sidebar %}
    {% include 'user/coachSidebar.html' with teams=teams %}
{% endblock user_sidebar %}

{% block user_content %}
    <h1>{{ team.name }}</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Imię i nazwisko</th>
            <th scope="col">username</th>
            <th scope="col">Pozycja </th>
        </tr>
        </thead>
        <tbody>
        {% for player in team.playersInTeam.all %}
            <tr>
                <td> {{ forloop.counter }}</td>
                <td>{{ player.user.first_name }} {{ player.user.last_name }}</td>
                <td> {{ player.user.username }}</td>
                <td> {{ player.position }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock user_content %}

