<li>
    <a href="/team/{{ team.id }}">
        <i class="fa fa-flag" aria-hidden="true"></i>
        Zawodniczki
    </a>
</li>

<li>
    <a data-toggle="collapse" href="#trainings-{{ team.id }}" aria-expanded="false">
        <i class="fa fa-user" aria-hidden="true"></i>
        Treningi
    </a>
</li>

<li>
    <a data-toggle="collapse" href="#plans-{{ team.id }}" aria-expanded="false">
        <i class="fa fa-flag" aria-hidden="true"></i>
        Plany
    </a>
</li>

<li>
    <a data-toggle="collapse" href="#swot-{{ team.id }}" aria-expanded="false">
        <i class="fa fa-line-chart" aria-hidden="true"></i>
        Analiza
    </a>
</li>