    <section id="board-label" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-offset-1">

                    <h3> Seniorki </h3>

                    <div class="card panel-google-plus" style="width: 20rem;">

                        <div class="dropdown">
                            <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                            </div>
                        </div>

                        <div class="card-header panel-heading">
                            <h3>Zawodnik XYZ</h3>
                            <h5><span>Wczoraj, 14:06</span> </h5>
                        </div>

                        <div class="panel-google-plus-tags">
                            <ul>
                                <li>#Trening</li>
                                <li>#Koszulki</li>
                            </ul>
                        </div>

                        <div class="card-body panel-body">
                            <p class="card-text">
                                Jaki dziś kolor koszulek?
                            </p>

                            <div class="panel-footer">
                                <button class="btn btn-secondary btn-sm">+1</button>
                                <button class="btn btn-secondary btn-sm">
                                    <i class="fa fa-share" aria-hidden="true"></i>
                                </button>

                                <input type="text" class="form-control input-placeholder" placeholder="Add a comment..." aria-label="comment" aria-describedby="basic-addon1">
                            </div>
                        </div>

                        <div class="panel-google-plus-comment">
                            <img class="img-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image" />
                            <div class="panel-google-plus-textarea">
                                <textarea rows="4"></textarea>
                                <button type="submit" class="[ btn btn-success disabled ]">Post comment</button>
                                <button type="reset" class="[ btn btn-default ]">Cancel</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>

                    <div class="card panel-google-plus" style="width: 20rem;">

                        <div class="dropdown">
                            <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                            </div>
                        </div>

                        <div class="card-header panel-heading">
                            <h3>Zawodnik XYZ</h3>
                            <h5><span>Wczoraj, 14:06</span> </h5>
                        </div>

                        <div class="panel-google-plus-tags">
                            <ul>
                                <li>#Trening</li>
                                <li>#Koszulki</li>
                            </ul>
                        </div>

                        <div class="card-body panel-body">
                            <p class="card-text">
                                Jaki dziś kolor koszulek?
                            </p>

                            <div class="panel-footer">
                                <button class="btn btn-secondary btn-sm">+1</button>
                                <button class="btn btn-secondary btn-sm">
                                    <i class="fa fa-share" aria-hidden="true"></i>
                                </button>

                                <input type="text" class="form-control input-placeholder" placeholder="Add a comment..." aria-label="comment" aria-describedby="basic-addon1">
                            </div>
                        </div>

                        <div class="panel-google-plus-comment">
                            <img class="img-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image" />
                            <div class="panel-google-plus-textarea">
                                <textarea rows="4"></textarea>
                                <button type="submit" class="[ btn btn-success disabled ]">Post comment</button>
                                <button type="reset" class="[ btn btn-default ]">Cancel</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>

                    <div class="card panel-google-plus" style="width: 20rem;">

                        <div class="dropdown">
                            <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                            </div>
                        </div>

                        <div class="card-header panel-heading">
                            <h3>Zawodnik XYZ</h3>
                            <h5><span>Wczoraj, 14:06</span> </h5>
                        </div>

                        <div class="panel-google-plus-tags">
                            <ul>
                                <li>#Trening</li>
                                <li>#Koszulki</li>
                            </ul>
                        </div>

                        <div class="card-body panel-body">
                            <p class="card-text">
                                Jaki dziś kolor koszulek?
                            </p>

                            <div class="panel-footer">
                                <button class="btn btn-secondary btn-sm">+1</button>
                                <button class="btn btn-secondary btn-sm">
                                    <i class="fa fa-share" aria-hidden="true"></i>
                                </button>

                                <input type="text" class="form-control input-placeholder" placeholder="Add a comment..." aria-label="comment" aria-describedby="basic-addon1">
                            </div>
                        </div>

                        <div class="panel-google-plus-comment">
                            <img class="img-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image" />
                            <div class="panel-google-plus-textarea">
                                <textarea rows="4"></textarea>
                                <button type="submit" class="[ btn btn-success disabled ]">Post comment</button>
                                <button type="reset" class="[ btn btn-default ]">Cancel</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>

                    <div class="card panel-google-plus" style="width: 20rem;">

                        <div class="dropdown">
                            <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                            </div>
                        </div>

                        <div class="card-header panel-heading">
                            <h3>Zawodnik XYZ</h3>
                            <h5><span>Wczoraj, 14:06</span> </h5>
                        </div>

                        <div class="panel-google-plus-tags">
                            <ul>
                                <li>#Trening</li>
                                <li>#Koszulki</li>
                            </ul>
                        </div>

                        <div class="card-body panel-body">
                            <p class="card-text">
                                Jaki dziś kolor koszulek?
                            </p>

                            <div class="panel-footer">
                                <button class="btn btn-secondary btn-sm">+1</button>
                                <button class="btn btn-secondary btn-sm">
                                    <i class="fa fa-share" aria-hidden="true"></i>
                                </button>

                                <input type="text" class="form-control input-placeholder" placeholder="Add a comment..." aria-label="comment" aria-describedby="basic-addon1">
                            </div>
                        </div>

                        <div class="panel-google-plus-comment">
                            <img class="img-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image" />
                            <div class="panel-google-plus-textarea">
                                <textarea rows="4"></textarea>
                                <button type="submit" class="[ btn btn-success disabled ]">Post comment</button>
                                <button type="reset" class="[ btn btn-default ]">Cancel</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-sm-offset-1">

                    <h3> Juniorki </h3>

                    <div class="card panel-google-plus" style="width: 20rem;">

                        <div class="dropdown">
                            <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                            </div>
                        </div>

                        <div class="card-header panel-heading">
                            <h3>Zawodnik XYZ</h3>
                            <h5><span>Wczoraj, 14:06</span> </h5>
                        </div>

                        <div class="panel-google-plus-tags">
                            <ul>
                                <li>#Trening</li>
                                <li>#Koszulki</li>
                            </ul>
                        </div>

                        <div class="card-body panel-body">
                            <p class="card-text">
                                Jaki dziś kolor koszulek?
                            </p>

                            <div class="panel-footer">
                                <button class="btn btn-secondary btn-sm">+1</button>
                                <button class="btn btn-secondary btn-sm">
                                    <i class="fa fa-share" aria-hidden="true"></i>
                                </button>

                                <input type="text" class="form-control input-placeholder" placeholder="Add a comment..." aria-label="comment" aria-describedby="basic-addon1">
                            </div>
                        </div>

                        <div class="panel-google-plus-comment">
                            <img class="img-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image" />
                            <div class="panel-google-plus-textarea">
                                <textarea rows="4"></textarea>
                                <button type="submit" class="[ btn btn-success disabled ]">Post comment</button>
                                <button type="reset" class="[ btn btn-default ]">Cancel</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>

                    <div class="card panel-google-plus" style="width: 20rem;">

                        <div class="dropdown">
                            <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                            </div>
                        </div>

                        <div class="card-header panel-heading">
                            <h3>Zawodnik XYZ</h3>
                            <h5><span>Wczoraj, 14:06</span> </h5>
                        </div>

                        <div class="panel-google-plus-tags">
                            <ul>
                                <li>#Trening</li>
                                <li>#Koszulki</li>
                            </ul>
                        </div>

                        <div class="card-body panel-body">
                            <p class="card-text">
                                Jaki dziś kolor koszulek?
                            </p>

                            <div class="panel-footer">
                                <button class="btn btn-secondary btn-sm">+1</button>
                                <button class="btn btn-secondary btn-sm">
                                    <i class="fa fa-share" aria-hidden="true"></i>
                                </button>

                                <input type="text" class="form-control input-placeholder" placeholder="Add a comment..." aria-label="comment" aria-describedby="basic-addon1">
                            </div>
                        </div>

                        <div class="panel-google-plus-comment">
                            <img class="img-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image" />
                            <div class="panel-google-plus-textarea">
                                <textarea rows="4"></textarea>
                                <button type="submit" class="[ btn btn-success disabled ]">Post comment</button>
                                <button type="reset" class="[ btn btn-default ]">Cancel</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>

                    <div class="card panel-google-plus" style="width: 20rem;">

                        <div class="dropdown">
                            <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                            </div>
                        </div>

                        <div class="card-header panel-heading">
                            <h3>Zawodnik XYZ</h3>
                            <h5><span>Wczoraj, 14:06</span> </h5>
                        </div>

                        <div class="panel-google-plus-tags">
                            <ul>
                                <li>#Trening</li>
                                <li>#Koszulki</li>
                            </ul>
                        </div>

                        <div class="card-body panel-body">
                            <p class="card-text">
                                Jaki dziś kolor koszulek?
                            </p>

                            <div class="panel-footer">
                                <button class="btn btn-secondary btn-sm">+1</button>
                                <button class="btn btn-secondary btn-sm">
                                    <i class="fa fa-share" aria-hidden="true"></i>
                                </button>

                                <input type="text" class="form-control input-placeholder" placeholder="Add a comment..." aria-label="comment" aria-describedby="basic-addon1">
                            </div>
                        </div>

                        <div class="panel-google-plus-comment">
                            <img class="img-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image" />
                            <div class="panel-google-plus-textarea">
                                <textarea rows="4"></textarea>
                                <button type="submit" class="[ btn btn-success disabled ]">Post comment</button>
                                <button type="reset" class="[ btn btn-default ]">Cancel</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>

                    <div class="card panel-google-plus" style="width: 20rem;">

                        <div class="dropdown">
                            <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                            </div>
                        </div>

                        <div class="card-header panel-heading">
                            <h3>Zawodnik XYZ</h3>
                            <h5><span>Wczoraj, 14:06</span> </h5>
                        </div>

                        <div class="panel-google-plus-tags">
                            <ul>
                                <li>#Trening</li>
                                <li>#Koszulki</li>
                            </ul>
                        </div>

                        <div class="card-body panel-body">
                            <p class="card-text">
                                Jaki dziś kolor koszulek?
                            </p>

                            <div class="panel-footer">
                                <button class="btn btn-secondary btn-sm">+1</button>
                                <button class="btn btn-secondary btn-sm">
                                    <i class="fa fa-share" aria-hidden="true"></i>
                                </button>

                                <input type="text" class="form-control input-placeholder" placeholder="Add a comment..." aria-label="comment" aria-describedby="basic-addon1">
                            </div>
                        </div>

                        <div class="panel-google-plus-comment">
                            <img class="img-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image" />
                            <div class="panel-google-plus-textarea">
                                <textarea rows="4"></textarea>
                                <button type="submit" class="[ btn btn-success disabled ]">Post comment</button>
                                <button type="reset" class="[ btn btn-default ]">Cancel</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-sm-offset-1">

                    <h3> Młodziczki </h3>

                    <div class="card panel-google-plus" style="width: 20rem;">

                        <div class="dropdown">
                            <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                            </div>
                        </div>

                        <div class="card-header panel-heading">
                            <h3>Zawodnik XYZ</h3>
                            <h5><span>Wczoraj, 14:06</span> </h5>
                        </div>

                        <div class="panel-google-plus-tags">
                            <ul>
                                <li>#Trening</li>
                                <li>#Koszulki</li>
                            </ul>
                        </div>

                        <div class="card-body panel-body">
                            <p class="card-text">
                                Jaki dziś kolor koszulek?
                            </p>

                            <div class="panel-footer">
                                <button class="btn btn-secondary btn-sm">+1</button>
                                <button class="btn btn-secondary btn-sm">
                                    <i class="fa fa-share" aria-hidden="true"></i>
                                </button>

                                <input type="text" class="form-control input-placeholder" placeholder="Add a comment..." aria-label="comment" aria-describedby="basic-addon1">
                            </div>
                        </div>

                        <div class="panel-google-plus-comment">
                            <img class="img-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image" />
                            <div class="panel-google-plus-textarea">
                                <textarea rows="4"></textarea>
                                <button type="submit" class="[ btn btn-success disabled ]">Post comment</button>
                                <button type="reset" class="[ btn btn-default ]">Cancel</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>

                    <div class="card panel-google-plus" style="width: 20rem;">

                        <div class="dropdown">
                            <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                            </div>
                        </div>

                        <div class="card-header panel-heading">
                            <h3>Zawodnik XYZ</h3>
                            <h5><span>Wczoraj, 14:06</span> </h5>
                        </div>

                        <div class="panel-google-plus-tags">
                            <ul>
                                <li>#Trening</li>
                                <li>#Koszulki</li>
                            </ul>
                        </div>

                        <div class="card-body panel-body">
                            <p class="card-text">
                                Jaki dziś kolor koszulek?
                            </p>

                            <div class="panel-footer">
                                <button class="btn btn-secondary btn-sm">+1</button>
                                <button class="btn btn-secondary btn-sm">
                                    <i class="fa fa-share" aria-hidden="true"></i>
                                </button>

                                <input type="text" class="form-control input-placeholder" placeholder="Add a comment..." aria-label="comment" aria-describedby="basic-addon1">
                            </div>
                        </div>

                        <div class="panel-google-plus-comment">
                            <img class="img-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image" />
                            <div class="panel-google-plus-textarea">
                                <textarea rows="4"></textarea>
                                <button type="submit" class="[ btn btn-success disabled ]">Post comment</button>
                                <button type="reset" class="[ btn btn-default ]">Cancel</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>

                    <div class="card panel-google-plus" style="width: 20rem;">

                        <div class="dropdown">
                            <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                            </div>
                        </div>

                        <div class="card-header panel-heading">
                            <h3>Zawodnik XYZ</h3>
                            <h5><span>Wczoraj, 14:06</span> </h5>
                        </div>

                        <div class="panel-google-plus-tags">
                            <ul>
                                <li>#Trening</li>
                                <li>#Koszulki</li>
                            </ul>
                        </div>

                        <div class="card-body panel-body">
                            <p class="card-text">
                                Jaki dziś kolor koszulek?
                            </p>

                            <div class="panel-footer">
                                <button class="btn btn-secondary btn-sm">+1</button>
                                <button class="btn btn-secondary btn-sm">
                                    <i class="fa fa-share" aria-hidden="true"></i>
                                </button>

                                <input type="text" class="form-control input-placeholder" placeholder="Add a comment..." aria-label="comment" aria-describedby="basic-addon1">
                            </div>
                        </div>

                        <div class="panel-google-plus-comment">
                            <img class="img-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image" />
                            <div class="panel-google-plus-textarea">
                                <textarea rows="4"></textarea>
                                <button type="submit" class="[ btn btn-success disabled ]">Post comment</button>
                                <button type="reset" class="[ btn btn-default ]">Cancel</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>

                    <div class="card panel-google-plus" style="width: 20rem;">

                        <div class="dropdown">
                            <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                            </div>
                        </div>

                        <div class="card-header panel-heading">
                            <h3>Zawodnik XYZ</h3>
                            <h5><span>Wczoraj, 14:06</span> </h5>
                        </div>

                        <div class="panel-google-plus-tags">
                            <ul>
                                <li>#Trening</li>
                                <li>#Koszulki</li>
                            </ul>
                        </div>

                        <div class="card-body panel-body">
                            <p class="card-text">
                                Jaki dziś kolor koszulek?
                            </p>

                            <div class="panel-footer">
                                <button class="btn btn-secondary btn-sm">+1</button>
                                <button class="btn btn-secondary btn-sm">
                                    <i class="fa fa-share" aria-hidden="true"></i>
                                </button>

                                <input type="text" class="form-control input-placeholder" placeholder="Add a comment..." aria-label="comment" aria-describedby="basic-addon1">
                            </div>
                        </div>

                        <div class="panel-google-plus-comment">
                            <img class="img-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image" />
                            <div class="panel-google-plus-textarea">
                                <textarea rows="4"></textarea>
                                <button type="submit" class="[ btn btn-success disabled ]">Post comment</button>
                                <button type="reset" class="[ btn btn-default ]">Cancel</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>