{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title> {% block title %} {% endblock%} </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

        <!-- Custom styles for this template -->
        <link href="{% static 'css/body.css' %}" rel="stylesheet">
        <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

        {% block extra_head %}            
        {% endblock extra_head %}
        
    </head>

    <body id="page-top">

        {% include 'navbar.html' %}

        <div id="wrapper">
            {% if user.is_authenticated %}
                {% if user.coach %}
                    {% include 'user/coach/coach_sidebar.html' with teams=user.coach.teams.all %}
                {% endif %}
            {% endif %}

            <div id="page-content-wrapper">

                {% block user_content %}
                {% endblock user_content %}

            </div>
        </div>

{#        {% block calendar_label %}#}
{#        {% endblock calendar_label %}#}
{##}
{#        {% block board_label %}#}
{#        {% endblock board_label %}#}
{##}
{#        {% block message_label %}#}
{#        {% endblock message_label %}#}
{##}
{#        {% block cash_label %}#}
{#        {% endblock cash_label %}#}
{##}
{#        {% block exercises_label %}#}
{#        {% endblock exercises_label %}#}


<!--            <section id="messages-label">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <h2>Messages</h2>
                            <p class="lead">No unread messages</p>
                        </div>
                    </div>
                </div>
            </section> -->

    <!--<section id="contact">-->
      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-8 mx-auto">-->
            <!--<h2>Contact us</h2>-->
            <!--<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</section>-->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

        {% block extra_scripts %}
        {% endblock %}
        <!-- Custom JavaScript for this theme -->
{#        <script src="{% static "js/scrolling-nav.js" %}"></script>#}
            
    </body>
</html>


