{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Trainings week list {% endblock title %}


{# TODO ensure user is coach #}

{% block user_content %}


    <h4 style="display: inline"> Treningi dru?yny {{ team_name }} </h4>

    <a href="{% url 'trainings:event-team-week-list' team_id=team_id year=previous_start_week|date:"Y" week=previous_start_week|date:"W" %}">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        poprzedni tydzien
    </a>

    <a href="{% url 'trainings:event-team-week-list' team_id=team_id year=next_start_week|date:"Y" week=next_start_week|date:"W" %}">
        nastepny tydzien
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
    </a>

{#            <form action="{% url 'team:team-delete' team.id %}" method="POST" style="display: inline">#}
{#                {% csrf_token %}#}
{#                <input type="hidden" name="team_id" value="{{team.id}}"/>#}
{#                <button type="submit" class="btn btn-default btn-danger" >#}
{#                    <i class="fa fa-trash" aria-hidden="true"></i>#}
{#                    Delete Team#}
{#                </button>#}
{#            </form>#}

    <a href="{% url 'trainings:training-new' team_id %}">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Dodaj trening
    </a>

    <hr/>

    <div class="row">

        {% for day in seven_days %}

            <div class="col">

                <div class="card">

                    <div class="card-header text-center">
                        {{ day | date:'l' }}<br/>
                        {{ day | date:'d.m.Y' }}
                    </div>

                    <div class="card-body" style="min-height: 70px">

                        {% for training in trainings %}
                            {% if training.date|date:'d.m.Y' ==  day|date:'d.m.Y' %}
                                <a href="#{{ training.id }}" data-toggle="modal">
                                    {{ training.date|date:'G:i' }} - {{ training.place }}
                                </a>
                                <hr/>
                            {% endif %}
                        {% endfor %}
                    </div>

                </div>

            </div>

        {% endfor %}

    </div>

    {% for training in trainings %}
        {% include "trainings/coach/training_coach_detail_modal.html" with event=training %}
    {% endfor %}

{% endblock %}