<div class="modal fade" id="{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ event.id }}" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">

                <h4> {{event.date | date:"D, d.m.Y G:i" }}, {{ event.place }} </h4>
                <h6 class="text-muted text-right"> autor {{ event.author }}</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <h4>  {{ event.title }}, {{ event.duration }}min </h4>

                <p>Treść treningu <br/> {{ event.content | linebreaks }} <hr/> </p>

                <form action="#" method="get">
                    <input type="hidden" name="absence" value="True"/>
                    <button type="submit" class="btn" value="Click" name="absence_button">Zgłoś nieobecność</button>
                </form>

                <hr/>

            <!-- EVENT COMMENTS -->

                {% for comment in comments %}
                    <div class="comment">
                        <p class="info"> Comment{{ forloop.counter }} by {{ comment.author }} {{ comment.created }} </p>
                        {{ comment.body|linebreaks }}
                    </div>
                {% empty %}
                    <p> There is no comment yet.</p>
                {% endfor %}

                {% if new_comment %}
                    <h2>Your comment has been added. </h2>
                {% else %}
                    <h2>Add a new comment </h2>
                    <form action="." method="post"> {% csrf_token %}

                        {{ comment_form.as_p }}
                        <input type="hidden" name="event_id" value="{{ event.id }}">

                        <p><input type="submit" value="Add comment"></p>
                    </form>
                {% endif %}

                <!-- <a class="btn btn-primary" href="{-% url "trainings:training_share" event.id %-}"> Share this training</a> -->
                <!-- {-{ event.content | truncatewords:30 | linebreaks }-} -->
            </div>
            <div class="modal-footer">

                {% if team_id %}
                    <form action="{% url 'trainings:training-delete' team_id event.id %}" method="POST" style="display: inline">
                        {% csrf_token %}
                        <input type="hidden" name="event_id" value="{{ event.id }}"/>
                        <button type="submit" class="btn btn-default btn-danger" >
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
{#                  <button type="button" class="btn btn-primary">Save changes</button>#}
                {% endif %}

            </div>
        </div>
    </div>
</div>